body {
  background-color: #fff;
  font-family: sans-serif;
  > * {
    max-width: 500px;
    margin: auto;
  }
  padding: 0 20px;
}

:root {
  --primary: #f59696;
}

a {
  color: var(--primary);

  &.secondary {
    color: #000;
    font-size: 12px;

    &:visited {
      color: #000;
    }
  }

  &:visited {
    color: var(--primary);
  }
}

h2 {
  font-size: 1.3em;
}
