body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: overlay;
  > * {
    max-width: 600px;
    margin: auto;
  }
  > main {
    max-width: 500px;
  }
  padding: 0 20px;
}

:root {
  --primary: #f59696;
}

a {
  color: var(--primary);
  
  &:visited {
    color: var(--primary);
  }
  
  &:hover {
    color: #B88282
  }

  &.secondary {
    color: #000;
    font-size: 12px;
  }
}

h2 {
  font-size: 1.3em;
}

hr {
  border: none;
  border-bottom: 1px dotted black;
}

p {
  margin-block: 1.5em;
}