footer {
    > * {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    ul {
        padding-inline-start: 0;
        li {
            display: block;
            height: 100%;
        }
    }
    
    &, * {
        gap: 10px;
    }
}

.slowfade {
    animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}