.letter {
  & > * {
    margin-block: 40px;
  }
  .letter-actions {
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    span {
      border-radius: 3px;
      padding: 3px;
      color: var(--primary);
      cursor: pointer;
      display: inline-block;
      transition: background-color 0.2s, transform 0.5s;
    }
    
    span:hover {
      background-color: #FCE2E2;
      transform: translateY(-2px);
    }

    img {
      margin-bottom: -3px;
      image-rendering: crisp-edges;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
