.letter {
  margin-block: 40px;
  .letter-actions {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    
    a {
      text-decoration: none;
      
      img {
        margin-bottom: -3px;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}