.letter {
  & > * {
    margin-block: 40px;
  }
  .letter-actions {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    transition: transform 0.2s;

    
    span:hover {
      transform: scale(1.1) rotate(-10deg);
    }

    img {
      margin-bottom: -3px;
      image-rendering: crisp-edges;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
